*,
*::before,
*::after {
  box-sizing: border-box;

}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--t-text-color);
  font-family: 'T-Font-Regular', sans-serif;
  font-weight: 400;
}

.container {
  max-width: var(--container-width, 1280px);
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.container-fluid {
  max-width: var(--container-width, 1472px);
  margin: 0 auto;
  padding: 0 1rem;
}

.container-full {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* using svg icon of fontawesome */
svg {
  width: 16px;
  height: 16px;
}
.t-svg-icon {
  &--small {
    width: 16px;
    height: 16px;
  }
  &--medium {
    width: 20px;
    height: 20px;
  }
  &--small {
    width: 32px;
    height: 32px;
  }
}