*,
*::before,
*::after {
  box-sizing: border-box;

}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--t-text-color);
  font-family: 'T-Font-Regular', sans-serif;
  font-weight: 400;
}

.container {
  max-width: var(--container-width, 1280px);
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.container-fluid {
  max-width: var(--container-width, 1472px);
  margin: 0 auto;
  padding: 0 1rem;
}

.container-full {
  max-width: 100%;
  margin: 0 auto;
  padding:0 ;
}

/* using svg icon of fontawesome */
svg {
  width: 16px;
  height: 16px;
}
.t-svg-icon {
  &--small {
    width: 10px;
    height: 10px;
  }
  &--medium {
    width: 20px;
    height: 20px;
  }
  &--large {
    width: 32px;
    height: 32px;
  }
}

.swiper-button-prev[role="button"], 
.swiper-button-next[role="button"] {
  --swiper-navigation-btn-height: 40px;
  width: var(--swiper-navigation-btn-size);
  height: var(--swiper-navigation-btn-height);
  --swiper-navigation-size: 15px;
  margin-top: calc(0px - (var(--swiper-navigation-btn-height) / 2));
}