$h1-font-size: #{rem(60)};
$h2-font-size: #{rem(42)};
$h3-font-size: #{rem(32)};
$h4-font-size: #{rem(22)};
$h5-font-size: #{rem(18)};
$h6-font-size: 1rem;
$h1-mobile-font-size: #{rem(36)};
$h2-mobile-font-size: #{rem(28)};
$h3-mobile-font-size: #{rem(24)};
$h4-mobile-font-size: #{rem(18)};
$h5-mobile-font-size: #{rem(16)};
$h6-mobile-font-size: #{rem(14)};

/* font-face */

@font-face {
  font-family: 'T-Font-Regular';
  src: url('@/assets/fonts/Poppins/Poppins-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'T-Font-Thin';
  src: url('@/assets/fonts/Poppins/Poppins-Thin.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'T-Font-Heading';
  src: url('@/assets/fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('woff');
  font-style: normal;
  font-display: swap;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  color: var(--t-heading-color);
  font-family: 'T-Font-Heading', sans-serif;
}
h1,
.h1 {
  @include heading-size($h1-font-size, 1.3, #{rem(12)});
  @include breakpoint-max(md) {
    @include heading-size($h1-mobile-font-size, 1.5, var(--heading-margin-bottom-mobile, 0));
  }
}

h2,
.h2 {
  @include heading-size($h2-font-size, 1.3, var(--heading-margin-bottom-desktop, 0));
  @include breakpoint-max(md) {
    @include heading-size($h2-mobile-font-size, 1.4, var(--heading-margin-bottom-mobile, 0));
  }
}

h3,
.h3 {
  @include heading-size($h3-font-size, 1.3, var(--heading-margin-bottom-desktop, 0));
  @include breakpoint-max(md) {
    @include heading-size($h3-mobile-font-size, 1.4, var(--heading-margin-bottom-mobile, 0));
  }
}

h4,
.h4 {
  @include heading-size($h4-font-size, 1.3, var(--heading-margin-bottom-desktop, 0));
  @include breakpoint-max(md) {
    @include heading-size($h4-mobile-font-size, 1, var(--heading-margin-bottom-mobile, 0));
  }
}

h5,
.h5 {
  @include heading-size($h5-font-size, 1.3, var(--heading-margin-bottom-desktop, 0));
  @include breakpoint-max(md) {
    @include heading-size($h5-mobile-font-size, 1.4, var(--heading-margin-bottom-mobile, 0));
  }
}

h6,
.h6 {
  @include heading-size($h6-font-size, 1.3, var(--heading-margin-bottom-desktop, 0));
  @include breakpoint-max(md) {
    @include heading-size($h6-mobile-font-size, 1, var(--heading-margin-bottom-mobile, 0));
  }
}

button,
.btn {
  outline: none;
  padding: 10px 20px;
  white-space: normal;
  border-radius: var(--t-btn-border-radius, 0);
  display: inline-block;
  font-size: var(--t-btn-font-size, #{rem(16)});
  border: 1px solid rgb(var(--t-btn-border-color));
  font-weight: var(--t-btn-font-weight);
  letter-spacing: var(--t-btn-spacing);
  text-transform: var(--t-btn-text-transform);
  transition: var(--t-btn-duration-default, 0.25s) all;
  line-height: var(--t-btn-line-height);
  color: rgb(var(--t-btn-primary-color));
  background-color: rgb(var(--t-btn-primary-bg));
  cursor: pointer;

  &:not(.icon-action) {
    min-width: 120px;
  }

  &:hover {
    color: rgb(var(--t-btn-text-color-hover));
    box-shadow: 0 0 0 2px rgb(var(--t-btn-bg-hover));
    -webkit-box-shadow: 0 0 0 2px rgb(var(--t-btn-bg-hover));
    -moz-box-shadow: 0 0 0 2px rgb(var(--t-btn-bg-hover));
    border-color: rgb(var(--t-btn-border-color-hover));
    background-color: rgb(var(--t-btn-bg-hover));
  }
}

.t-btn {
  &__secondary {
    color: rbg(var(--t-btn-secondary-color));
    background-color: rgb(var(--t-btn-secondary-bg));
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
  line-height: normal;
  display: inline-block;

  &:focus-visible {
    outline: none;
  }

  &.t-link {
    &::after {
      position: absolute;
      content: '';
      right: var(--t-link-px, 0);
      bottom: calc(var(--t-link-py, 0) - 5px);
      width: 0;
      height: 1px;
      background-color: var(--t-link-underline-color, #222);
      transition: 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        width: calc(100% - var(--t-link-px) * 2);
        left: var(--t-link-px, 0);
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: #{rem(12)};
  margin-top: 0;
  font-size: #{rem(16)};
  line-height: 1.8;
}

/* form */
[style*='--aspect-ratio'] > *:first-child {
  top: 0;
  left: 0;
  right: 0;
  position: absolute !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
select {
  appearance: none;
}

.form-field,
.form-selected__title,
textarea {
  padding: 6px 12px;
  border: var(--inputs-border-width) solid rgb(var(--input-color-border));
  border-radius: var(--inputs-radius);
  background-color: rgb(var(--color-form-field));
  color: rgb(var(--color-form-field-text));
  width: 100%;
  outline: none;
  line-height: 2;
  transition: all var(--m-duration-default, 0.25s);

  &:focus {
    border: var(--inputs-border-width) solid rgb(var(--input-color-border-focus));
  }

  &::placeholder {
    font-size: 1rem;
    font-family: 'T-Font-Regular', sans-serif;
    color: rgb(var(--color-form-field-text));
  }
}

label {
  margin-bottom: 14px;
  font-size: #{rem(14)};
  display: inline-block;
}

.form-item {
  position: relative;
  margin-bottom: var(--form-item-margin-bottom, #{rem(16)});
}
.multiselect__tag {
  padding: 6px 12px;
  background-color: rgb(var(--selected-item-bg));
  margin-right: 12px;
  color: rgb(var(--selected-item-color));
  border-radius: var(--inputs-radius);
}

.form-selected {
  &__title {
    cursor: pointer;
    font-size: #{rem(14)};
  }

  &__name {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--selected-item-bg);
    color: var(--selected-item-color);
    padding: 6px 12px;
    border-radius: var(--selected-radius);
    font-size: #{rem(14)};
    margin-right: 12px;
    gap: 8px;
  }

  &__content {
    position: absolute;
    background-color: rgb(var(--color-form-field));
    color: rgba(var(--color-form-field-text));
    border-radius: 0;
    padding: 12px;
    z-index: 1000;
    transition: all 0.4s;
    font-size: #{rem(14)};
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    ul {
      width: 100%;
      height: 100%;

      li {
        display: block;
        padding: 8px 12px;
        cursor: pointer;
        span {
          display: block;
          width: 100%;
          height: 100%;
        }
        &:hover {
          background-color: rgb(var(--selected-item-hover-bg));
        }
      }
    }

    &--show {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}
