@use 'sass:math';


@mixin heading-size($size, $lineHeight, $marginBottom) {
  font-size: $size;
  line-height: $lineHeight;
  margin-bottom: $marginBottom;
}

@mixin set-value($name, $property, $value, $unit) {
  @for $i from 0 through $value {
    .#{$name}-#{$i} {
      #{$property}: #{$i}#{$unit};
    }
  }
}

@mixin divide-value($name, $property, $total) {
  @for $i from 1 to $total {
    .#{$name}-#{$i}-#{$total} {
      #{$property}: math.div($i, $total) * 100%;
     }
  }
}

@mixin zoomEffect() {

}