
@mixin heading-size($size, $lineHeight, $marginBottom) {
  font-size: $size;
  line-height: $lineHeight;
  margin-bottom: $marginBottom;
}

@mixin set-value($name, $property, $value, $unit) {
  @for $i from 0 to $value {
    .#{$name}-#{$i} {
      #{$property}: #{$i}#{$unit};
    }
  }
}

