:root {
  --t-btn-primary-bg: rgb(255, 165, 0);
  --t-btn-secondary-bg: rgb(255, 255, 255);
  --t-duration-default: 0.25s;
  --t-btn-font-weight: 600;
  --t-btn-spacing: 0;
  --t-btn-text-transform: normal;
  --t-btn-border-radius: 50px;
  --t-btn-line-height: normal;
  --t-btn-font-size: #{rem(16)};
  --t-btn-border-color: rgb(255, 165, 0);
  --t-btn-primary-color: rgb(255, 255, 255);
  --t-btn-secondary-color: rgb(255, 98, 0);
  --t-btn-text-color-hover: rgb(255, 255, 255);
  --t-btn-bg-hover: rgb(255, 98, 0);
  --t-btn-border-color-hover: rgb(255, 98, 0);

  // text color 

  --t-text-color: rgb(102, 102, 102);
  --t-heading-color: rgb(15,66,38);
  // link padding
  --t-link-py: #{rem(20)};
  --t-link-px: #{rem(16)};

  --t-logo-width-desktop: 100px;
  --t-logo-width-mobile: 110px;
  --swiper-navigation-btn-size: 45px;
  --swiper-navigation-color: var(--t-text-color);
  --t-black-color: #222;
  --t-white-color: #fff;
  --heading-margin-bottom-desktop: 24px;
  --heading-margin-bottom-mobile: 12px;

  --anouncementBg: rgb(218, 63, 63);
  --anouncementColor: rgb(255, 255, 255);
}
