.t-footer {
  background-color: rgb(var(--t-footer-bg));
  color: rgb(var(--t-footer-color));
  padding-bottom: 0;
  &__menu {
    &-title {
      margin-bottom: 20px;
    }

    a {
      font-weight: 400;
      transition: all 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      li {
        margin-bottom: 16px;
      }
    }
  }

  &__logo {
    width: 100px;
    margin-bottom: 24px;
    img {
      width: 100%;
    }
  }

  &__block {
  }

  &__content {
  }

  &__wrapper {
    margin-bottom: 80px;
    p {
      margin-bottom: 0;
    }
  }
}
